
.slides {
    max-width: 1110px;
    display: flex;
    align-items: center;
    min-height: 228px;
    background: #E6F8FF;
    border-radius: 5px;
    margin: 20px 0;
    position: relative;
    text-align: center;
} 
.quote2 {
    position: absolute;
    top: -25%;
    left: 5%;
}
.comment {
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

@media screen and (max-width:1312px) {
    .tour-box {
        max-width: 900px;
    }
}

@media screen and (max-width:992px) {
    .slides {
        width: 100%;
    }
    .comment {
        width: 100%;
        font-size: 15px;
        padding: 4px;
        box-sizing: border-box;
    }
}

/* 
@media screen and (max-width:688px) {
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}  */