.trending-i-hotel {
    margin-top: 280px;
}
.trending-title {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
}
.info {
    width: 542px;
    height: 40px;
    margin: 0 auto;
}
.trending {
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}
.trending div {
    margin-right: 30px;
}