.trending-i-hotel {
    margin-top: 280px;
}
.trending-international {
    margin: 20px 0;
    padding: 10px;
}
.trending-title {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
}
.info {
    width: 542px;
    height: 40px;
    margin: 0 auto;
}
.trending {
    display: flex;
    column-gap: 10px;
}
.slider-arrow {
    display: flex;
    column-gap: 10px;
    justify-content: end;
    cursor: pointer;
}